---
import Layout from '~/layouts/PageLayout.astro';
import { SITE } from '../site.config.ts';

const meta = {
	title: SITE.title,
	description: SITE.description,
};

---

<Layout {meta}>
	<h1>Wellcome</h1>

	<ul>
		<h2>Todo</h2>
		<li>Structured data 
			<a href="https://www.kozhuhds.com/blog/how-to-build-a-static-lightweight-mdx-blog-with-astro-step-by-step-guide#step-10-structured-data" target="_new" rel="nofollow noopener noreferrer">Kozhuhds</a>
			<a href="https://developers.google.com/search/docs/appearance/structured-data/intro-structured-data" target="_new" rel="nofollow noopener noreferrer">Google</a>
			<a href="https://json-ld.org/" target="_new" rel="nofollow noopener noreferrer">JSON-LD</a>
		</li>
		<li>
			<a href="https://www.kozhuhds.com/blog/assigning-custom-components-to-html-elements-in-astro-collections-image-with-figcaption-example/" target="_new" rel="nofollow noopener noreferrer">Figcaption Component</a>
		</li>
	</ul>

</Layout>


<style>
	h1 {
		margin: 2rem 0;
		text-align: center;
	}
</style>